*{
    margin:0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.nav_class{
    background: white;
    min-height:;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 5px grey;
}
.nav_links{
    display: inline;
}
li{ 
    margin: 20px;
    float: right;
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: none;
}
h2{
    color: rgb(101, 164, 167);
}
section{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    text-align: center;
}
h1{
    padding: 2rem 4rem;
    border-radius: 10px;
    text-transform: capitalize;
    background: rgb(0,0,0);
    color: white;
}
.hexbtn{
    padding: 1rem 2rem;
    margin-top: 10px;
    background:white;
    cursor: pointer;
    text-transform: uppercase;
    color: black;
    border: solid black;
    border-radius: 5px;
    font-size: 1rem;
    transition:all 0.3s ease;
}
.hexbtn:hover{
    background: rgba(0,0,0);
    color: white;
}
.msg{
    color: white;
    text-transform: capitalize;
    text-align: center;
    text-shadow: 0px 2px 4px cyan;
}

